.cardContainer {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
	padding: 2rem 3rem;
	border-top: 2px solid var(--color-palette-two);
}

.textContainer {
	display: grid;
	gap: 4rem;
}

.cardTitle {
	text-align: center;
	font-size: clamp(1.8rem, 1vw + 1rem, 2.6rem);
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageRounded {
	border-radius: 50%;
}

.imageSquared {
	border-radius: 4px;
}

.aboutInformation {
  font-size: clamp(1.6rem, 1vw + 1rem, 2.6rem);
}

@media (min-width: 768px) {
	.cardContainer {
		display: grid;
		grid-template-columns: 1fr;
		gap: 2rem;
		
		padding: 2rem 4rem;
	}
}

@media (min-width: 1024px) {
	.cardContainer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
		padding: 3rem 5rem;
	}
}

@media (min-width: 1280px) {
	.cardContainer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
		padding: 4rem 6rem;
	}
}

@media (min-width: 1536px) {
	.cardContainer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
		padding: 4rem 7rem;
	}
}
