:root {
	/* Color palettes for whole website */
	--color-palette-one: #f9f8f6;
	--color-palette-two: #efe9e3;
	--color-palette-three: #d9cfc7;
	--color-palette-four: #c9b59c;

	/* Text colors */
	--text-black: #303030;
}

/* MOBILE: 480px */
/* SM: 640px */
/* MD: 768px */
/* LG: 1024px */
/* XL: 1280px */
/* XXL: 1536px */

* {
	box-sizing: content-box;
}

button {
  cursor: pointer;
}

html {
	/* Default rem size */
	font-size: 62.5%;
}

body {
	display: flex;
	flex-direction: column;
	background-color: var(--color-palette-two);
	margin: 0;
	padding: 0;
}

.baseSite {
  display: flex;
  flex-direction: column;
	margin: 0 auto;
	width: 95vw;
	min-height: 100vh;
	background-color: var(--color-palette-one);
}

@media (min-width: 768px) {
	.baseSite {
		margin: 0 auto;
		width: 90vw;
		background-color: var(--color-palette-one);
	}
}

@media (min-width: 1024px) {
	.baseSite {
		margin: 0 auto;
		width: 80vw;
		background-color: var(--color-palette-one);
	}
}

@media (min-width: 1280px) {
	.baseSite {
		margin: 0 auto;
		width: 70vw;
		background-color: var(--color-palette-one);
	}
}

@media (min-width: 1536px) {
	.baseSite {
		margin: 0 auto;
		width: 60vw;
		background-color: var(--color-palette-one);
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	margin: 0;
	padding: 0;
}
