:root {
    --header-black: black;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blueviolet;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
    padding: 0;
}

.profilepic {
    border-radius: 50%;
}