.startPageContainer {
	display: grid;
	grid-template-columns: 1fr;
}

.startPageContainer > section:nth-child(2) > div {
	border-top: none;
}

.heroImageSectionContainer {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
	aspect-ratio: 2.5/1;
	margin-bottom: 1rem;
	margin-top: 5rem;
}

/* .heroTitle {
	position: absolute;
	padding-top: 180px;
	color: var(--text-black);
	z-index: 10;
	font-size: clamp(2rem, 2vw + 1rem, 10rem);
} */

.heroImage {
	object-fit: cover;
	border-radius: 4px;
}

.sectionContainer {
	display: grid;
	grid-template-columns: 1fr;
	color: var(--text-black);
	gap: 2rem;
	font-size: clamp(1.8rem, 1vw + 1rem, 2.6rem);
}

.firstTalkSectionContainer {
	display: grid;
	grid-template-columns: 1fr;
	color: var(--text-black);
	gap: 2rem;
	font-size: clamp(1.8rem, 1vw + 1rem, 2.6rem);
	padding: 3rem 0;
}

.firstTalkSectionContainer > div {
	border-bottom: 2px solid var(--color-palette-two);
}

.formSectionContainer {
	color: var(--text-black);
	gap: 2rem;
	font-size: clamp(1.8rem, 1vw + 1rem, 2.6rem);
}
