.formWrapper {
	max-width: 65%;
	margin: 0 auto;
}

.formContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10rem 0 15rem 0;
	gap: 2rem;
}

.formParagraph {
	margin-bottom: 5rem;
}

.mailAddress {
	text-underline-offset: 6px;
}

.firstNameWrapper {
	display: flex;
	justify-content: space-between;
}

.firstNameLabel {
}

.firstNameInput {
	font-family: 'Quicksand';
	width: 40%;
}

.lastNameWrapper {
	display: flex;
	justify-content: space-between;
}

.lastNameLabel {
}

.lastNameInput {
	font-family: 'Quicksand';
	width: 40%;
}

.emailWrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.emailLabel {
}

.emailInput {
	font-family: 'Quicksand';
	width: 40%;
}

.messageWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
  padding-top: 2.5rem;
}

.messageLabel {
	margin-bottom: 1rem;
}

.messageInput {
	height: 100px;
	font-family: 'Quicksand';
}

.messageInput::placeholder {
	font-size: 2.4rem;
	padding: 1rem;
}

textarea::-webkit-resizer {
	display: none;
}

.buttonContainer {
	display: flex;
	justify-content: center;
}

.formButton {
	height: 50px;
	font-size: 2.4rem;
	font-family: 'Quicksand';
	width: 90%;
	border-radius: 6px;
	border: 0.5px solid #303030;
	cursor: pointer;
}
